<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>weight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        weight
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="none">
    <ion-label>
      <p>Current weight</p>
      <h2><span class="text-bold">{{currentWeight?.kg}}</span> kg</h2>
    </ion-label>
  </ion-item>

  <div *ngIf="chartData" echarts [options]="options" [merge]="chartData" class="weight-chart"></div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-padding">
    <ion-button (click)="editWeight()" color="primary">
        Set current weight
    </ion-button>
  </ion-fab>

</ion-content>
