.calorie-chart {
  height: 100px;
  margin-top: 5px;
}

.weight-chart {
  height: 75px;
}

.chart-container {
  width: 150px;
}

.bmi-progress-bar {
  margin: 20px 50px 0 0;
}

.bmi-labels-container {
  display: flex;
  justify-content: space-between;
}
