<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nutrition</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectDate()" fill="solid">
        <span class="text-bold">{{selectedDate.toLocaleDateString('en-GB')}}</span>
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Nutrition
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Calories</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div *ngIf="chartData" echarts [options]="options" [merge]="chartData" class="calorie-chart"></div>
          </ion-col>
          <ion-col size="8">
            <ion-item lines="none" button detail="false" [routerLink]="['/profile']">
              <ion-icon name="flag" slot="start" color="medium"></ion-icon>
              <ion-label>
                <h4>Goal</h4>
                <p><ion-text color="dark" class="text-bold">{{userInfo?.calorieTarget}}</ion-text> cal</p>
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon name="Restaurant" slot="start" color="primary"></ion-icon>
              <ion-label>
                <h4>Food</h4>
                <p><ion-text color="dark" class="text-bold">{{calorieIntake}}</ion-text> cal</p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <sub><ion-text color="medium">You have <ion-text color="dark" class="text-bold">{{caloriesRemaining}}</ion-text> calories left to consume.</ion-text></sub>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Breakfast</h2>
      </ion-label>
      <ion-label slot="end"><sub>{{totalBreakfastCalories}}</sub></ion-label>
    </ion-item>

    <div *ngIf="dayOfEating">
      <ion-item-sliding *ngFor="let foodItem of dayOfEating.breakfast" (ionSwipe)="deleteFoodItem('breakfast', foodItem)">
        <ion-item lines="none">
          <ion-label>
            <h2>{{foodItem.name}}</h2>
            <p>{{foodItem.serving_size_g}} gram(s)</p>
          </ion-label>
          <ion-label slot="end" color="medium"><sub>{{foodItem.calories}}</sub></ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteFoodItem('breakfast', foodItem)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-button expand="block" size="small" class="ion-margin-horizontal" (click)="addFoodItem('breakfast')">
      <ion-icon name="add" slot="start"></ion-icon>
      Add food item
    </ion-button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Lunch</h2>
      </ion-label>
      <ion-label slot="end"><sub>{{totalLunchCalories}}</sub></ion-label>
    </ion-item>

    <div *ngIf="dayOfEating">
      <ion-item-sliding *ngFor="let foodItem of dayOfEating.lunch" (ionSwipe)="deleteFoodItem('lunch', foodItem)">
        <ion-item lines="none">
          <ion-label>
            <h2>{{foodItem.name}}</h2>
            <p>{{foodItem.serving_size_g}} gram(s)</p>
          </ion-label>
          <ion-label slot="end" color="medium"><sub>{{foodItem.calories}}</sub></ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteFoodItem('lunch', foodItem)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-button expand="block" size="small" class="ion-margin-horizontal" (click)="addFoodItem('lunch')">
      <ion-icon name="add" slot="start"></ion-icon>
      Add food item
    </ion-button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Dinner</h2>
      </ion-label>
      <ion-label slot="end"><sub>{{totalDinnerCalories}}</sub></ion-label>
    </ion-item>

    <div *ngIf="dayOfEating">
      <ion-item-sliding *ngFor="let foodItem of dayOfEating.dinner" (ionSwipe)="deleteFoodItem('dinner', foodItem)">
        <ion-item lines="none">
          <ion-label>
            <h2>{{foodItem.name}}</h2>
            <p>{{foodItem.serving_size_g}} gram(s)</p>
          </ion-label>
          <ion-label slot="end" color="medium"><sub>{{foodItem.calories}}</sub></ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteFoodItem('dinner', foodItem)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-button expand="block" size="small" class="ion-margin-horizontal" (click)="addFoodItem('dinner')">
      <ion-icon name="add" slot="start"></ion-icon>
      Add food item
    </ion-button>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Snacks</h2>
      </ion-label>
      <ion-label slot="end"><sub>{{totalSnacksCalories}}</sub></ion-label>
    </ion-item>

    <div *ngIf="dayOfEating">
      <ion-item-sliding *ngFor="let foodItem of dayOfEating.snacks" (ionSwipe)="deleteFoodItem('snacks', foodItem)">
        <ion-item lines="none">
          <ion-label>
            <h2>{{foodItem.name}}</h2>
            <p>{{foodItem.serving_size_g}} gram(s)</p>
          </ion-label>
          <ion-label slot="end" color="medium"><sub>{{foodItem.calories}}</sub></ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteFoodItem('snacks', foodItem)">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

    <ion-button expand="block" size="small" class="ion-margin-horizontal" (click)="addFoodItem('snacks')">
      <ion-icon name="add" slot="start"></ion-icon>
      Add food item
    </ion-button>
  </ion-list>

</ion-content>

